body {
    font-family: Garamond, serif;
    font-size: 3vw;
}

img {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 2px solid white;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 30vw;
}

button:hover {
    background-color: #2980b9;
}

#additionalDetails {
    display: none;
}

@media screen and (max-width: 400px) {
    h1 {
        color: red;
    }

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}